
.navbar  {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100px; /* Adjust the height as needed */
    background-color: #333; /* Optional background color for the container */
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px; /* Adjust the margin for spacing between buttons */
}

.navbar a {
    text-decoration: none;
    background-color: #555; /* Button background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding for buttons */
    border-radius: 5px; /* Rounded corners for buttons */
}

.navbar a:hover {
    background-color: #333; /* Hover color */
}

.body{
    background-color: purple;
}



.form#contact {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    align-content: center;
}

.form#contact label,
.form#contact input,
.form#contact textarea {

    display: block;
    margin-bottom: 10px;
    width: 100px;
}

.form#contact textarea {
    height: 200px; 
}

.button[type="submit"] {
    
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Style error messages */
#errorMessages {
    margin-top: 10px;
    font-size: 14px;
}
